/* Many web pages are based on a grid-view (page is divided into columns) */
/* A responsive grid-view often has 12 columns and has a total width of 100%, which will shrink and expand as the browser window resizes */

/* The first step in creating a responsive grid-view is ensuring all HTML elements have the box-sizing property set to border-box */
* {
	box-sizing: border-box;
}

/* The following example shows a simple responsive web page with 2 columns */
.header {
	border: 1px solid red;
	padding: 15px;
}
.menu {
	width: 25%;
	float: left;
	border: 1px solid red;
	padding: 15px;
}

.main {
	width: 75%;
	float: left;
	border: 1px solid red;
	padding: 15px;
}

/* If we want to create 12 equal columns for a grid-view, each needs to be 100% / 12 = 8.33% wide */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* All columns should be floating to the left and have a padding of 15px */
[class*="col-1"] {
	float: left;
	padding: 15px;
	border: 1px solid red;
}

/* Flow should be cleared for rows, since columns inside them all float left */
.row:after {
	content= "";
	clear: both;
	display: block;
}