@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Sample ASP.NET project using MVC 5 and Entity Framework 6</p>
    <p>@Html.ActionLink("Students", "Index", "Students", null, new { @class="btn btn-primary btn-lg"})</p>
    <p>@Html.ActionLink("Enrollments", "Index", "Enrollments", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>